#
# Aliases for bash/zsh
#
#
alias cds="cd ~\scripts"
alias cls="clear"
# "Find file within current directory; output: relative path"
alias ff="find -name $1"
alias ga="git add $*"
alias gb="git branch $*"
alias gc="git commit $*"
alias gcl="git config --list --show-origin"
alias gcm="git commit -m $*"
alias gcp="git cherry-pick $*"
alias gd="git diff $*"
alias gdt="git difftool $*"
alias gf="git fetch $*"
alias gl="git log"
alias gln="git log -n$1"
alias glo="git log --oneline"
alias glon="git log --oneline -n$1"
alias glop="git log --oneline -n25"
alias glmy="git log --author='simon.kruska@sap.com'"
alias glnmy="git log -n$1 --author='simon.kruska@sap.com'"
alias glomy="git log --oneline --author='simon.kruska@sap.com'"
alias glonmy="git log --oneline -n$1 --author='simon.kruska@sap.com'"
alias glopmy="git log --oneline -n25 --author='simon.kruska@sap.com'"
alias gm="git merge $*"
alias gp="git pull $*"
alias gr="git rebase $*"
alias grs="git stash pop"
alias gs="git status $*"
alias gsv="git stash push"
alias gsw="git switch $*"
alias gt="git push ssh://builder@lu0386.wdf.sap.corp:30010/~/bas.git $1:build_dwgui"
#alias ip="echo 'todo: print ip4 address'"
#alias ip4="echo 'todo: print ip4 address'"
#alias ip6="echo 'todo: print ip6 address'"
alias ll="ls -la --color $*"
alias lp="ps | grep $1"
alias lr="ls -la --color ~\runsap"
alias sshr="ssh $1 -R 52698:127.0.0.1:52698"
alias enable_zsh="chsh -s $(which zsh)"
